body header{
    padding : 0.25rem 0.75rem 0.25rem 0.25rem;
    background-color: #fffaf4;
}
body header ul{
    padding : 0;
    margin:0;
}
body header ul li{
    list-style : none;
    /* display : inline-block; */
    float:left;
}
body header ul li.header-title{
    font-size:1.15rem;
    margin-right:1.25rem;
}
body header ul li.header-sub-title{
    line-height: 230%;
}
body header ul li.burger{
    float : right;
    font-size:1.25rem;
}
body header ul:after{
    clear : both;
    display : block;
    content : "";
}