div.voice{
    background-color: #fffaf4;
}
div.voice ul{
    margin:0;
    
}
div.voice ul li{
    position: relative;
    background-image: url("./../../img/voice/message_01.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    max-height:160px;
    max-width:253px;
    width:100%;
    height:100%;
    margin: auto;
}
div.voice ul li div
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:70%;
}